[buildout]
extends = base.cfg
parts = ${buildout:python25-parts}
python25-parts =
    python-2.5-build
    python-2.5
    python-2.5-PIL
    python-2.5-test

python25-pil-install-args = "Pillow<2"

[python-2.5-build:default]
recipe = collective.recipe.cmmi
dependencies = ${dependencies:dummy-dependencies}
executable = ${opt:location}/bin/python2.5
url = https://www.python.org/ftp/python/2.5.6/Python-2.5.6.tar.bz2
# Combined patch fixing several issues:
#  * Build issue where make won't find i368 or x86_64 libs
#  * Build issue with Subversion 1.7+
#  * Build issue if sqlite libs can't be found
patches =
    ${buildout:python-buildout-root}/py256.patch
extra_options =
    --disable-tk
    --prefix=${opt:location}

[python-2.5-build:darwin]
<= python-2.5-build:default
patches =
    ${buildout:python-buildout-root}/py256.patch
    ${buildout:python-buildout-root}/python-2.5-darwin-10.6.patch
environment =
    CFLAGS=-arch x86_64

[python-2.5-build:darwin-leopard]
<= python-2.5-build:default

[python-2.5-build:darwin-snowleopard]
<= python-2.5-build:darwin
environment =

[python-2.5-virtualenv]
recipe = collective.recipe.template
input = ${buildout:python-buildout-root}/virtualenv.in
output = ${buildout:bin-directory}/virtualenv-2.5
virtualenv = ${virtualenv191:location}/virtualenv.py
executable = ${python-2.5-build:executable}

[python-2.5]
recipe = plone.recipe.command
location = ${buildout:directory}/python-2.5
executable = ${python-2.5-build:executable}
easy_install = ${opt:location}/bin/easy_install-2.5
command =
    ${:executable} ${buildout:python-buildout-root}/ez_setup-1.x.py
    ${:easy_install} pip==1.3
    ${python-2.5-virtualenv:output} --system-site-packages ${:location}
    ${:location}/bin/easy_install -U collective.dist
update-command = ${:command}
stop-on-error = yes

[python-2.5-PIL]
recipe = plone.recipe.command
command =
    ${python-2.5:easy_install} -U ${buildout:python25-pil-install-args}
update-command = ${:command}
stop-on-error = yes

[python-2.5-test]
recipe = z3c.recipe.runscript
install-script = ${buildout:python-buildout-root}/test-python.py:test
update-script = ${:install-script}
python = ${python-2.5:location}/bin/python
